In [1]:
from kaggle.api.kaggle_api_extended import KaggleApi
import os
import pandas as pd

In [7]:
os.chdir('C:/Users/ydmar/.kaggle')

In [8]:
api = KaggleApi()
api.authenticate()

In [13]:
!kaggle datasets download -d promptcloud/careerbuilder-job-listing-2020

Downloading careerbuilder-job-listing-2020.zip to C:\Users\ydmar\.kaggle

  0%|          | 0.00/41.8M [00:00<?, ?B/s]
  2%|2         | 1.00M/41.8M [00:00<00:13, 3.07MB/s]
  5%|4         | 2.00M/41.8M [00:00<00:11, 3.74MB/s]
  7%|7         | 3.00M/41.8M [00:00<00:09, 4.43MB/s]
 10%|9         | 4.00M/41.8M [00:00<00:07, 5.08MB/s]
 12%|#1        | 5.00M/41.8M [00:00<00:06, 5.64MB/s]
 14%|#4        | 6.00M/41.8M [00:01<00:06, 6.12MB/s]
 17%|#6        | 7.00M/41.8M [00:01<00:05, 6.56MB/s]
 19%|#9        | 8.00M/41.8M [00:01<00:05, 6.85MB/s]
 22%|##1       | 9.00M/41.8M [00:01<00:09, 3.79MB/s]
 24%|##3       | 10.0M/41.8M [00:02<00:13, 2.46MB/s]
 26%|##6       | 11.0M/41.8M [00:03<00:15, 2.14MB/s]
 29%|##8       | 12.0M/41.8M [00:03<00:15, 1.96MB/s]
 31%|###1      | 13.0M/41.8M [00:04<00:13, 2.23MB/s]
 33%|###3      | 14.0M/41.8M [00:04<00:10, 2.70MB/s]
 36%|###5      | 15.0M/41.8M [00:04<00:08, 3.26MB/s]
 38%|###8      | 16.0M/41.8M [00:04<00:06, 3.94MB/s]
 41%|####      | 17.0M/41.8M [00:04<00:05, 4.62MB/s]
 43%|####3     | 18.0M/41.8M [00:05<00:04, 5.26MB/s]
 45%|####5     | 19.0M/41.8M [00:05<00:04, 5.82MB/s]
 48%|####7     | 20.0M/41.8M [00:05<00:03, 6.29MB/s]
 50%|#####     | 21.0M/41.8M [00:05<00:03, 6.65MB/s]
 53%|#####2    | 22.0M/41.8M [00:05<00:03, 6.93MB/s]
 55%|#####4    | 23.0M/41.8M [00:05<00:02, 7.17MB/s]
 57%|#####7    | 24.0M/41.8M [00:05<00:02, 7.27MB/s]
 60%|#####9    | 25.0M/41.8M [00:05<00:02, 7.30MB/s]
 62%|######2   | 26.0M/41.8M [00:06<00:02, 7.31MB/s]
 65%|######4   | 27.0M/41.8M [00:06<00:02, 7.43MB/s]
 67%|######6   | 28.0M/41.8M [00:06<00:01, 7.53MB/s]
 69%|######9   | 29.0M/41.8M [00:06<00:01, 7.58MB/s]
 72%|#######1  | 30.0M/41.8M [00:06<00:01, 7.62MB/s]
 74%|#######4  | 31.0M/41.8M [00:06<00:01, 7.68MB/s]
 76%|#######6  | 32.0M/41.8M [00:06<00:01, 7.69MB/s]
 79%|#######8  | 33.0M/41.8M [00:07<00:01, 7.69MB/s]
 81%|########1 | 34.0M/41.8M [00:07<00:01, 7.70MB/s]
 84%|########3 | 35.0M/41.8M [00:07<00:00, 7.72MB/s]
 86%|########6 | 36.0M/41.8M [00:07<00:00, 7.72MB/s]
 88%|########8 | 37.0M/41.8M [00:07<00:00, 7.72MB/s]
 91%|######### | 38.0M/41.8M [00:07<00:00, 7.67MB/s]
 93%|#########3| 39.0M/41.8M [00:07<00:00, 7.73MB/s]
 96%|#########5| 40.0M/41.8M [00:08<00:00, 7.75MB/s]
 98%|#########7| 41.0M/41.8M [00:08<00:00, 7.69MB/s]
100%|##########| 41.8M/41.8M [00:08<00:00, 7.77MB/s]
100%|##########| 41.8M/41.8M [00:08<00:00, 5.32MB/s]

In [2]:
import json
os.chdir('C:/Users/ydmar/Documents/Mestria/Analitica de grandes datos/careerbuilder-job-listing-2020')

In [32]:
path = 'marketing_sample_for_careerbuilder_usa-careerbuilder_job_listing__20200401_20200630__30k_data.ldjson'
jobs = pd.DataFrame()
with open(path, 'r', encoding="utf8") as f:
    for i, line in enumerate(f):
        try:
            data = json.loads(line.strip('\n'))
            temp = pd.DataFrame([data], columns = data.keys())
            jobs = pd.concat([jobs, temp], axis = 0)
        except Exception as e:
            print(e)

Extra data: line 1 column 7004 (char 7003)

In [35]:
jobs.to_csv('trabajos.csv')

In [3]:
import pandas as pd

In [4]:
jobs = pd.read_csv('trabajos.csv')

C:\Users\ydmar\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
jobs

,Unnamed: 0,uniq_id,crawl_timestamp,url,job_title,company_name,city,state,country,post_date,...,inferred_state,inferred_country,fitness_score,inferred_salary_from,inferred_salary_to,inferred_salary_currency,is_consumed_job,job_requirements,contact_email,test_contact_email
0,0,9a457ef257fecf231693a6ba08f50293,2020-06-26 01:54:03 +0000,https://www.careerbuilder.com/job/J3W0PF650Z8Q...,Asphalt/Concrete Senior Project Manager,GPAC,Houston,TX,US,2020-06-25,...,Texas,United states,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,ba471e2faf6f79caf22cddebbedbc0e8,2020-05-17 01:21:05 +0000,https://www.careerbuilder.com/job/J3P0FL6X795R...,Amazon Warehouse Team - Full Time,Amazon Fulfillment,Cincinnati,OH,US,2020-05-16,...,Ohio,United states,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,6f00bd02d63c633b5af453366f25c21e,2020-06-27 04:53:42 +0000,https://www.careerbuilder.com/job/J3W3XK69NHHR...,Amazon Warehouse Associate - Morning Shifts Av...,Amazon Fulfillment,Peabody,MA,US,2020-06-26,...,Massachusetts,United states,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,8ad0d00bfa23cfd7b7c364b8ae72085f,2020-06-03 01:21:32 +0000,https://www.careerbuilder.com/job/J3Q5RL6VS7PG...,Assembly Electrical,Manpower,Villard,MN,US,2020-06-02,...,Minnesota,United states,10,14.00,14.00,$,NaN,NaN,NaN,NaN
4,0,31753dc342a1b2a07db712454c0d5f87,2020-05-23 01:19:07 +0000,https://www.careerbuilder.com/job/J3V1TJ68DPJ7...,Graphics Designer,The North West Company - U.S.,Anchorage,AK,US,2020-05-22,...,Alaska,United states,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29977,0,936736b277678e921106037c4dd7a84c,2020-06-09 00:58:51 +0000,https://www.careerbuilder.com/job/J3T0565YGTCC...,Part Time OR Temporary Warehouse Associate,Warehouse,Wilmer,TX,US,2020-06-08,...,Texas,United states,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29978,0,149876538eeb2fb04d197edea7cbea27,2020-06-05 01:59:14 +0000,https://www.careerbuilder.com/job/J3W22P7514NR...,Patient Access Specialist,Robert Half,Birmingham,AL,US,2020-06-04,...,Alabama,United states,10,12.50,14.00,$,NaN,NaN,NaN,NaN
29979,0,7874ba31564aa0ef58fcbb665f6e0b3d,2020-06-15 01:12:52 +0000,https://www.careerbuilder.com/job/J3Q6WX61BPK9...,Registered Nurse - ICU - 13 Week Contract,Jackson Nurse Professionals,Roanoke,VA,US,2020-06-14,...,Virginia,United states,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29980,0,503793ea84532a4b308d92024bef084b,2020-06-02 02:07:17 +0000,https://www.careerbuilder.com/job/J3M1LG6J8GMC...,Amazon Prime Now Shopper - Earn $15/hr or more...,Amazon Fulfillment,Deer Park,WI,US,2020-05-31,...,Wisconsin,United states,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29981,0,9898e193d52db0805430fdb1b1be59c4,2020-05-14 02:12:51 +0000,https://www.careerbuilder.com/job/J3T02T5WZX1B...,Warehouse Operator - Earn $15/hr or more,Amazon Fulfillment,Thornton,CO,US,2020-05-13,...,Colorado,United states,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Ciudad

In [24]:
df_ciudad = jobs[['city', 'state', 'country']].drop_duplicates()
df_ciudad['city'] = df_ciudad['city'].apply(lambda x: x.upper())
df_ciudad.to_csv('ciudad.csv')

In [25]:
df_ciudad['id_ciudad'] = df_ciudad.index

In [26]:
df_ciudad

             city state country  id_ciudad
0         HOUSTON    TX      US          0
1      CINCINNATI    OH      US          1
2         PEABODY    MA      US          2
3         VILLARD    MN      US          3
4       ANCHORAGE    AK      US          4
...           ...   ...     ...        ...
29962     EL RITO    NM      US      29962
29966    ALBERTON    MT      US      29966
29975     GRAFTON    WV      US      29975
29976      PEOSTA    IA      US      29976
29980   DEER PARK    WI      US      29980

[6696 rows x 4 columns]

## Empresa

In [27]:
df_empresa = jobs[['company_name', 'company_description', 'city']].drop_duplicates()
df_empresa['city'] = df_empresa['city'].apply(lambda x: x.upper())
df_empresa['company_name'] = df_empresa['company_name'].apply(lambda x: x.upper())

In [28]:
df_empresa.set_index('city', inplace=True)
df_ciudad.set_index('city', inplace=True)

In [29]:
df_empresa = df_empresa.join(df_ciudad['id_ciudad'])

In [30]:
df_empresa.reset_index(inplace=True)

del df_empresa['city']

In [31]:
df_empresa.to_csv('empresa.csv')

## Oferta

In [32]:
df_oferta = jobs[['uniq_id', 'crawl_timestamp', 'url', 'job_title', 'post_date', 'job_type',
                  'job_description','job_type', 
                   'salary_offered', 'job_post_lang', 'valid_through', 'duplicate_status',
                  'fitness_score', 'contact_email', 'city', 'company_name']].drop_duplicates()

In [33]:
df_oferta.head()

,uniq_id,crawl_timestamp,url,job_title,post_date,job_type,job_description,job_type,salary_offered,job_post_lang,valid_through,duplicate_status,fitness_score,contact_email,city,company_name
0,9a457ef257fecf231693a6ba08f50293,2020-06-26 01:54:03 +0000,https://www.careerbuilder.com/job/J3W0PF650Z8Q...,Asphalt/Concrete Senior Project Manager,2020-06-25,Full-Time,SR. PROJECT MANAGER WANTED!!! My client is a M...,Full-Time,NaN,en-us,2020-07-24,NaN,10,NaN,Houston,GPAC
1,ba471e2faf6f79caf22cddebbedbc0e8,2020-05-17 01:21:05 +0000,https://www.careerbuilder.com/job/J3P0FL6X795R...,Amazon Warehouse Team - Full Time,2020-05-16,Full-Time,"Shifts: Overnight, Early Morning, Day, Evening...",Full-Time,NaN,en-us,2020-06-15,NaN,10,NaN,Cincinnati,Amazon Fulfillment
2,6f00bd02d63c633b5af453366f25c21e,2020-06-27 04:53:42 +0000,https://www.careerbuilder.com/job/J3W3XK69NHHR...,Amazon Warehouse Associate - Morning Shifts Av...,2020-06-26,Full-Time,"Shifts: Early Morning, Day, Evening Location: ...",Full-Time,NaN,en-us,2020-07-25,NaN,10,NaN,Peabody,Amazon Fulfillment
3,8ad0d00bfa23cfd7b7c364b8ae72085f,2020-06-03 01:21:32 +0000,https://www.careerbuilder.com/job/J3Q5RL6VS7PG...,Assembly Electrical,2020-06-02,Full-Time,Do you pride yourself on attention to detail a...,Full-Time,$14.00/ hour,en-us,2020-07-01,NaN,10,NaN,Villard,Manpower
4,31753dc342a1b2a07db712454c0d5f87,2020-05-23 01:19:07 +0000,https://www.careerbuilder.com/job/J3V1TJ68DPJ7...,Graphics Designer,2020-05-22,Full-Time,In your role as Graphics Designer for Alaska C...,Full-Time,NaN,en-us,2020-06-21,NaN,10,NaN,Anchorage,The North West Company - U.S.

In [34]:
df_oferta['city'] = df_oferta['city'].apply(lambda x: x.upper())
df_oferta['company_name'] = df_oferta['company_name'].apply(lambda x: x.upper())
df_oferta.set_index('city', inplace=True)

In [ ]:
df_oferta = df_oferta.join(df_ciudad['id_ciudad'])

df_oferta.reset_index(inplace=True)

del df_oferta['city']

df_oferta.set_index('company_name', inplace=True)

df_empresa.reset_index(inplace=True)

df_empresa['id_empresa'] = df_empresa.index

df_empresa.set_index('company_name', inplace=True)

df_oferta = df_oferta.join(df_empresa['id_empresa'])

df_oferta


df_oferta.reset_index(inplace=True)

df_oferta

del df_oferta['company_name']

df_oferta = df_oferta.drop_duplicates()

In [ ]:
df_oferta.to_csv('oferta.csv')

## Pagina

In [120]:
df_pagina = jobs[['uniq_id', 'site_name', 'domain']].drop_duplicates()

In [122]:
df_pagina.to_csv('pagina.csv')